.browsei {
    font-size: 120px;
    font-weight: bolder;
    color: white;
    font-family: "Lato", sans-serif;
    margin-top: 95px;
    margin-left: 132px;
    margin-bottom: 95px;
    text-align: center;
  }
  .shoes {
    width: 1088px;
    height: 922px;
    margin-left: 186px;
    display: flex;
    padding: 40px;
  }
  
  .jeans {
    width: 1088px;
    height: 922px;
    margin-left: 186px;
    display: flex;
    padding: 40px;
  }
  
  .shirts {
    width: 1088px;
    height: 922px;
    margin-left: 186px;
    display: flex;
    padding: 40px;
  }
  
  .outfits {
    width: 1088px;
    height: 1946px;
    margin-left: 186px;
    display: flex;
    padding: 40px;
  }