.fp {
    font-size: 120px;
    font-weight: bolder;
    color: white;
    font-family: "Lato", sans-serif;
    margin-top: 95px;
    margin-left: 480px;
    margin-bottom: 95px;
}
.foto {
    width: 984px;
    height: 1037px;
    margin-left: 271px;
    display: flex;
    padding: 40px;
    border-radius: 7%;
}
.card {
    color: white;
}
.button2 {
    font-family: "Lato", sans-serif;
    font-size: 115px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 25px;
    padding: 53px;
    margin-top: 105px;
    margin-left: 449px;
}
