.noxu {
  color: white;
  font-size: 100px;
}
.lista {
  display: none;
}
/*ul {
  font-family: 'Lato', sans-serif;
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
}

li {  
  a {
    padding: 15px 15px;
  }
}
.noxu {
  color: white;
  font-weight: bolder;
  font-size: 300px;
}
.home {
  color: white;
  font-size: 20px;
}
.items {
  color: grey;
  font-size: 20px;
}
.search {
  display: none
}
.lista {
  display: none
}
@media (min-width: 768px) {
  .search {display: inline-block;
  }
  .btn {display: none;
  }
  .lista {display: flex}
  .noxu {
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
}*/